{% extends 'base.html' %}

{% block title %}List of movies{% endblock %}

{% block content %}

<div class="container">
    <h1 class="display-4 text-left my-4">Movies</h1>
    <div class="row">
        {% for movie in movies %}
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <a href="{% url 'movie_details' movie.movie_id %}" class="d-flex flex-column justify-content-between">
                    <div class="card-body-movies p-0">
                        {% if movie.movie_poster %}
                        <img src="{{ movie.get_poster_url }}" alt="Movie Poster" class="img-fluid rounded-top rounded-10 mb-3">
                        {% endif %}
                        <span class="d-block w-100 m-3 text-dark">{{ movie.movie_title }}</span>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}