{% extends 'base.html' %}

{% block title %}List of movies{% endblock %}

{% block content %}

<!-- list of movies -->
<div class="container">
    <h1 class="display-4 text-left my-4">Movies</h1>
    <div class="row justify-content-center">
        {% for movie in movies %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card bg-dark">
                <a href="{% url 'movie_details' movie.movie_id %}" class="d-flex flex-column justify-content-between">
                    <div class="card-body-movies p-0 d-flex flex-column align-items-center">
                        {% if movie.movie_poster %}
                        <img src="{{ movie.get_poster_url }}" alt="Movie Poster"
                            class="img-fluid rounded-top rounded-10 mb-3">
                        {% endif %}
                        <span class="d-block w-100 my-3 px-3 text-white">{{ movie.movie_title }}</span>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- end list of movies -->

{% endblock %}