<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ movie.movie_title }} - Movie Details</title>
</head>

<body>
    <h1>{{ movie.movie_title }}</h1>
    <p>ID: {{ movie.movie_id }}</p>
    <p>Title: {{ movie.movie_title }}</p>
    <p>{% if movie.movie_poster %}
        <img src="{{ movie.get_poster_url }}" alt="Movie Poster">
    </p>
    <p>Description: {{ movie.movie_description }}</p>
    <p>Genre: {{ movie.movie_genre|join:", " }}</p>
    <p>Release Date: {{ movie.movie_release_date }}</p>
    <p>Length: {{ movie.movie_length }}</p>
    {% endif %}
</body>

</html>