{% extends 'base.html' %}

{% block title %}Movie details{% endblock %}

{% block content %}

<h1>{{ movie.movie_title }}</h1>
<p>ID: {{ movie.movie_id }}</p>
<p>Title: {{ movie.movie_title }}</p>
<p>{% if movie.movie_poster %}
    <img src="{{ movie.get_poster_url }}" alt="Movie Poster">
</p>
<p>Description: {{ movie.movie_description }}</p>
<p>Genre: {{ movie.movie_genre|join:", " }}</p>
<p>Release Date: {{ movie.movie_release_date }}</p>
<p>Runtime: {{ movie.movie_length }}</p>
{% endif %}

<h2>Add Movie to Group</h2>
<form method="post" action="{% url 'add_movie_to_group' movie_id %}">
    {% csrf_token %}
    <label for="group_id">Select Group:</label>
    <select name="group_id" id="group_id">
        {% for group in groups %}
        <option value="{{ group.group_id }}">{{ group.group_name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Add to Group</button>
</form>

<a href="{{ back_url }}">Back to Movies List</a>

{% endblock %}