{% extends 'base.html' %}

{% block title %}Movie details{% endblock %}

{% block content %}

<!-- movie details -->
<div class="container">
    <h1 class="display-4 text-left my-4">{{ movie.movie_title }}</h1>
    <div class="row">
        {% if movie.movie_poster %}
        <div class="col-md-4">
            <img src="{{ movie.get_poster_url }}" alt="Movie Poster" class="img-fluid">
        </div>
        {% endif %}
        <div class="col-md-8">
            <p class="lead mb-3">{{ movie.movie_description }}</p>
            <ul class="list-unstyled mb-4">
                <li>
                    <div class="row">
                        <div class="col-md-3"><strong>Genre:</strong></div>
                        <div class="col-md-9">{{ movie.movie_genre|join:", " }}</div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-md-3"><strong>Release Date:</strong></div>
                        <div class="col-md-9">{{ movie.movie_release_date }}</div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-md-3"><strong>Runtime:</strong></div>
                        <div class="col-md-9">{{ movie.movie_length }}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="mt-4">
        <h2 class="text-left display-6">Add Movie to Group</h2>
        <form method="post" action="{% url 'add_movie_to_group' movie_id %}">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="group_id"></label>
                <select class="form-control my-4" name="group_id" id="group_id" placeholder="Select a group">
                    <option value="" disabled selected>Select a group</option>
                    {% for group in user.user_groups_membership.all %}
                    <option value="{{ group.group_id }}">{{ group.group_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Add to Group</button>
        </form>
    </div>
    {% endif %}

    <!-- back to list of movies button -->
    <a href="{{ back_url }}" class="btn btn-secondary mt-5">Back to Movies List</a>
    <!-- back to list of movies button -->
</div>
<!-- end movie details -->


{% endblock %}