{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

<!-- homepage -->
<div class="container mt-4">
    <h1 class="text-left display-4 my-4">Hello, {{ username }}!</h1>

    <h2 class="text-left display-6 mb-4">Your Groups:</h2>

    {% if user_groups %}
    <div class="list-group">
        {% for group in user_groups %}
        <div class="list-group-item mb-4 border rounded py-4">
            <a href="{% url 'group_details' group.group_id %}" class="text-decoration-none">
                <h3 class="h4 mb-0">{{ group.group_name }}</h3>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="mt-5">
        <div class="text-center">
            <h3 class="display-6 my-4">"{{ movie_quote.message }}"</h2>
            <p class="text-muted">- {{ movie_quote.source }}</p>
        </div>
    </div>
</div>
<!-- end homepage -->


{% endblock %}