/* --------------------------------------------------------- general styling */

a {
    text-decoration: none;
    color: inherit;
}

/* --------------------------------------------------------- headings */

/* --------------------------------------------------------- movies list cards */

.card-body {
    height: 550px;
}
