{% extends 'base.html' %}

{% block title %}All Users{% endblock %}

{% block content %}

<!-- list of users -->
<div class="container mt-4">
    <h1 class="text-left display-4 mb-4">List of Users</h1>
    {% if users %}
    <div class="list-group">
        {% for user in users %}
        <div class="list-group-item mb-4 border rounded py-4">
            <a href="{% url 'user_details' user.id %}" class="text-decoration-none">
                <h2 class="h4 mb-0">{{ user.username }}</h2>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
<!-- end list of users -->

{% endblock %}