{% extends 'base.html' %}

{% block title %}All Users{% endblock %}

{% block content %}

<div class="container mt-4">
    <h2 class="text-left display-6 mb-4">List of Users</h2>
    {% if users %}
        <ul class="list-group">
            {% for user in users %}
                <li class="list-group-item mb-4 border rounded py-4">
                    <a href="{% url 'user_details' user.id %}" class="text-decoration-none">
                        <h2 class="h4 mb-0">{{ user.username }}</h2>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

{% endblock %}