{% extends 'base.html' %}

{% block title %}Users details{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1 class="text-left display-4 my-4">{{ user.username }} User Details</h1>
    <div class="row">
        <div class="col-md-8">
            <ul class="list-unstyled mb-4">
                <li>
                    <div class="row">
                        <div class="col-md-3"><strong>Username:</strong></div>
                        <div class="col-md-9">{{ user.username }}</div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-md-3"><strong>User Bio:</strong></div>
                        <div class="col-md-9">{{ user.user_bio }}</div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-md-3"><strong>Date Joined:</strong></div>
                        <div class="col-md-9">{{ user.date_joined }}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <a href="{{ back_url }}" class="btn btn-secondary mt-3">Back to all Users</a>
</div>

{% endblock %}