{% extends 'base.html' %}

{% block title %}User own profile{% endblock %}

{% block content %}

<!-- user profile -->
<div class="container mt-4">
    <h1 class="text-left display-4 mb-4">Your Profile</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="mb-4">
                <p class="text-muted">Displayed in your public profile</p>

                <!-- username -->
                <div class="form-group row">
                    <label for="username" class="col-sm-4 col-form-label"><strong>Username</strong></label>
                    <div class="col-sm-8">
                        {{ user.username }}
                    </div>
                </div>
                <!-- end username -->

                <!-- bio -->
                <div class="form-group row">
                    <label for="bio" class="col-sm-4 col-form-label"><strong>Bio</strong></label>
                    <div class="col-sm-8">
                        {{ user.user_bio }}
                    </div>
                </div>
                <!-- end bio -->

            </div>
        </div>

        <div class="col-md-6">
            <div class="mb-4">
                <p class="text-muted">Private information, not visible to the public</p>

                <!-- first name -->
                <div class="form-group row">
                    <label for="username" class="col-sm-4 col-form-label"><strong>First Name</strong></label>
                    <div class="col-sm-8">
                        {{ user.first_name }}
                    </div>
                </div>
                <!-- end first name -->

                <!-- last name -->
                <div class="form-group row">
                    <label for="username" class="col-sm-4 col-form-label"><strong>Last Name</strong></label>
                    <div class="col-sm-8">
                        {{ user.last_name }}
                    </div>
                </div>
                <!-- end last name -->

                <!-- email -->
                <div class="form-group row">
                    <label for="username" class="col-sm-4 col-form-label"><strong>Email</strong></label>
                    <div class="col-sm-8">
                        {{ user.email }}
                    </div>
                </div>
                <!-- end email -->

                <!-- date of birth -->
                <div class="form-group row">
                    <label for="username" class="col-sm-4 col-form-label"><strong>Date of Birth</strong></label>
                    <div class="col-sm-8">
                        {{ user.user_date_of_birth }}
                    </div>
                </div>
                <!-- end date of birth -->

            </div>
        </div>
    </div>

    <a href="{% url 'edit_own_profile' %}" class="btn btn-primary mt-3">Edit Profile</a>
    <a href="{% url 'delete_own_profile' %}" class="btn btn-danger mt-3">Delete Profile</a>
</div>
<!-- end user profile -->

{% endblock %}