{% extends 'base.html' %}

{% block title %}Delete groups{% endblock %}

{% block content %}

<div class="container mt-4">
    <h2 class="text-left display-6 mb-4">Delete Group</h2>
    <p>Are you sure you want to delete the group <strong>{{ group.group_name }}</strong>?</p>
    <p>This group and its content will be deleted <strong><u>forever</u></strong> and can't be brought back!</p>

    <form method="post" action="{% url 'delete_group' group.group_id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, delete!</button>
    </form>

    <a href="{% url 'group_details' group.group_id %}" class="btn btn-secondary mt-3">Cancel</a>
</div>

{% endblock %}