{% extends 'base.html' %}

{% block title %}Group details{% endblock %}

{% block content %}

<h1>{{ group.group_name }} Group Details</h1>
<ul>
    <p>Group ID: {{ group.group_id }}</p>
    <p>Group Name: {{ group.group_name }}</p>
    <p>Group Description: {{ group.group_description }}</p>
    <p>Group Movies:
        {% for movie in group.group_movies.all %}
        {{ movie.movie_title }}
        {% endfor %}
    </p>
    <p>Group Members:
        {% for member in group.group_members.all %}
        {{ member.username }}
        {% endfor %}
    </p>
    <p>Group Admin: {{ group.group_creator.username }}</p>
</ul>
<a href="{{ back_url }}">Back to all Groups</a>

{% endblock %}