{% extends 'base.html' %}

{% block title %}Group details{% endblock %}

{% block content %}

<!-- group details -->
<div class="container mt-4">
    <h1 class="text-left display-4 mb-4">{{ group.group_name }}</h1>

    <div class="group-info mb-4">
        <p>{{ group.group_description }}</p>
    </div>

    <h2 class="text-left display-6">Group Movies</h2>
    <p class="subtle-italic">Click on a movie to see or write a review.</p>

    <!-- seperate movie details for groups -->
    <div class="row mb-4">
        {% for movie in group.group_movies.all %}
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <a href="{% url 'movie_review' group_id=group.group_id movie_id=movie.movie_id %}"
                    class="d-flex flex-column justify-content-between">
                    <div class="card-body-movies p-0">
                        {% if movie.movie_poster %}
                        <img src="{{ movie.get_poster_url }}" alt="Movie Poster"
                            class="img-fluid rounded-top rounded-10 mb-3">
                        {% endif %}
                        <span class="d-block w-100 m-3 text-dark">{{ movie.movie_title }}</span>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- end seperate movie details for groups -->

    <h2 class="text-left display-6">Group Admin</h2>
    {% for member in group.group_members.all %}
    {% if member == group.group_creator %}
    <p>{{ member.username }}</p>
    {% endif %}
    {% endfor %}

    <h2 class="text-left display-6">Group Members</h2>
    {% for member in group.group_members.all %}
    <p>{{ member.username }}</p>
    {% endfor %}

    {% if user.is_authenticated and group.group_creator == user %}
    <div class="mt-4 mb-4">
        <a href="{% url 'edit_group' group.group_id %}" class="btn btn-primary mr-2">Edit Group</a>
        <a href="{% url 'delete_group' group.group_id %}" class="btn btn-danger">Delete Group</a>
    </div>
    {% endif %}

    {% if user.is_authenticated %}
    {% if user in group.group_members.all %}
    <form action="{% url 'join_leave_group' group.group_id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Leave Group</button>
    </form>
    {% else %}
    <form action="{% url 'join_leave_group' group.group_id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Join Group</button>
    </form>
    {% endif %}
    {% else %}
    <p>Login to join the group</p>
    {% endif %}

    <!-- back to display_groups button -->
    <a href="{{ back_url }}" class="btn btn-secondary mt-4">Back to all Groups</a>
    <!-- end back to display_groups button -->

</div>
<!-- end group details -->

{% endblock %}